body{
  background-image:url(image/sara-the-freak-A4UojtraSrw-unsplash.jpg) ;
  background-position: center;
  background-repeat:no-repeat;
 
}

#displayTable{
width: fit-content;
margin-top: 45px;
font-weight: 400;
background-color: rgba(67, 66, 65, 0.212);
padding: 50px;
border-radius: 25px;

}

#citySelect {
  width: 550px;
  text-align: center;
  margin: auto;
}